@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 52, 78, 65;
  --background-start-rgb: 52, 78, 65;
  --background-end-rgb: 163, 177, 138;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 52, 78, 65;
    --background-start-rgb: 52, 78, 65;
    --background-end-rgb: 163, 177, 138;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom left,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-start-rgb)) 25%,
    rgb(var(--background-end-rgb)) 150%
  );
  background-repeat: no-repeat; /* Ensure the background does not repeat */
  background-attachment: fixed; /* Optional: Fix the background to the viewport */
  background-size: cover; /* Ensure the gradient covers the entire area */
  user-select: none;
}
